{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Auteur - {{ entity.name }}</h1>

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

    <br><br>
    <h3>Productions</h3>
    
    <table class="records_list table table-striped datable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Numéro</th>
                <th>Description</th>
                <th>Saga/OneShot</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
        {% for audio in entity.productAudios %}
            <tr>
                <td><a href="{{ path('audios_show', { 'id': entity.id }) }}">{{ audio.name }}</a></td>
                <td>{{ audio.number }}</td>
                <td>{{ audio.description }}</td>
                <td>
                    {% if audio.isSaga %}
                        Saga
                    {% else %}
                        OneShot
                    {% endif %}
                </td>
                <td>
                    {% for genre in audio.genres %}
                        {{ genre.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    {% if app.session.get('filter') is not null and admin == true %}
        <div class="btn">{{ form(delete_form) }}</div>
        <a href="{{ path('authors_edit' , { 'id': entity.id }) }}" > 
            <button class="btn">Editer</button>
        </a>
    {% endif %}
    <a href="{{ path('authors') }}" > 
        <button class="btn">Retour</button>
    </a>
{% endblock %}
