{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{{ entity.login }}</h1>

    <table class="record_properties">
        <tbody>
            <!-- <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ entity.login }}</td>
            </tr> -->
            <tr>
                <th>Mail</th>
                <td>{{ entity.mail }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ entity.password }}</td>
            </tr>
            <tr>
                <th>Admin/Lambda</th>
                <td>
                    {% if entity.isAdmin %}
                        Admin
                    {% else %}
                        Lambda
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>En écoute</th>
                <td>
                    {% for listened in audioListened %}
                        <p>
                            <a href="{{ path('audios_show', { 'id': listened.audio.id }) }}">{{listened.audio.name}} </a> arrêté à {{listened.stopTime | date("i:s")}}
                        </p> 
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Mis en ligne</th>
                <td>
                    {% for audioUp in audioUploaded %}
                        <p> <a href="{{ path('audios_show', { 'id': audioUp.id }) }}">{{audioUp.name}} </a> </p> 
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('users') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('users_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
