{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Liste des playlists</h1>
    <a href="{{ path('playlists_new') }}" > 
        <button class="btn">Ajouter une nouvelle playlist</button>
    </a>

    <table class="records_list table table-striped datable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Listaudio</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ path('playlists_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.listAudio }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
