{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Playlist - {{ entity.name }} </h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Description</th>                
            </tr>
            <tr>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

    <br><br>
    {% if not entity.listAudios.empty %}
        <table class="records_list table table-striped datable">
            <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Genre</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for audio in entity.listAudios %}
                <tr>
                    <td>{{ audio.number }}</td>
                    <td><a href="{{ path('audios_show', { 'id': audio.id }) }}">{{ audio.name }}</a></td>
                    <td>{{ audio.description }}</td>
                    <td>
                        {% for genre in audio.genres %}
                            {{ genre.name }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <script type="text/javascript">
                        $(document).ready(playOne);
                    </script>
                    <td>
                        <audio id="player" src="{{ audio.link }}" preload="auto"></audio>

                        <button class="btn" id="btnPlay"><span class="glyphicon glyphicon-play"></span></button>
                        <button class="btn" id="btnPause"><span class="glyphicon glyphicon-pause"></span></button>
                        <button class="btn" id="btnActualPause">Pause -20</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <br><br>
    {% if not entity.listPlaylists.empty %}
        <table class="records_list table table-striped datable">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for playlist in entity.listPlaylists %}
                <tr>
                    <td><a href="{{ path('playlists_show', { 'id': playlist.id }) }}">{{ playlist.name }}</a></td>
                    <td>{{ playlist.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>        
    {% endif %}
    <br>
    
    {% if app.session.get('filter') is not null and admin == true %}
        <div class="btn">{{ form(delete_form) }}</div>
        <a href="{{ path('playlists_edit' , { 'id': entity.id }) }}" > 
            <button class="btn">Editer</button>
        </a>
    {% endif %}
    <a href="{{ path('playlists') }}" > 
        <button class="btn">Retour</button>
    </a>
{% endblock %}
