{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Genre - {{entity.name}} </h1>

    <h3>Audios associés</h3>
    
    <table class="records_list table table-striped datable">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Numéro</th>
                <th>Description</th>
                <th>Saga/OneShot</th>
                <th>Auteur</th>
            </tr>
        </thead>
        <tbody>
        {% for audio in entity.associatedAudios %}
            <tr>
                <td><a href="{{ path('audios_show', { 'id': entity.id }) }}">{{ audio.name }}</a></td>
                <td>{{ audio.number }}</td>
                <td>{{ audio.description }}</td>
                <td>
                    {% if audio.isSaga %}
                        Saga
                    {% else %}
                        OneShot
                    {% endif %}
                </td>
                <td>
                    {% for author in audio.authors %}
                        {{ author.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    {% if app.session.get('filter') is not null and admin == true %}
        <div class="btn">{{ form(delete_form) }}</div>
        <a href="{{ path('genres_edit' , { 'id': entity.id }) }}" > 
            <button class="btn">Editer</button>
        </a>
    {% endif %}
    <a href="{{ path('genres') }}" > 
        <button class="btn">Retour</button>
    </a>

{% endblock %}
