{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Audio - {{ entity.name }}</h1>

    <table class="record_properties table table-striped">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.number }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Saga/OneShot</th>
                <td>
                    {% if entity.isSaga %}
                        Saga
                    {% else %}
                        OneShot
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>
                    {% for genre in entity.genres %}
                        <a href="{{ path('genres_show', { 'id': genre.id }) }}">{{ genre.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Lien</th>
                <td>{{ entity.link }}</td>
            </tr>
            <tr>
                <th>Mis en ligne par</th>
                <td>{{ entity.uploadedBy.login }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>
                    {% for author in entity.authors %}
                        <a href="{{ path('authors_show', { 'id': author.id }) }}">{{ author.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <audio id="player" src="{{ entity.link }}" ontimeupdate="document.getElementById('tracktime').innerHTML = changeSecToMin(currentTime) + ' / ' +  changeSecToMin(duration);" preload></audio>                
                <th>State</th>
                <td>                    
                    <button class="btn" onclick="document.getElementById('player').play()"><span class="glyphicon glyphicon-play"></span></span></button>
                    <button class="btn" onclick="stopTime();">LOL</button>
                    <button class="btn" onclick="stopAudio();"><span class="glyphicon glyphicon-stop"></span></button>
                     <button class="btn" onclick="goBack();">Go 20 Back</button>
                    <span id="tracktime">0 / 0</span>                   
                </td> 
            </tr>
        </tbody>
    </table>
    <br>

    {% if app.session.get('filter') is not null and admin == true %}
        <div class="btn">{{ form(delete_form) }}</div>
        <a href="{{ path('audios_edit' , { 'id': entity.id }) }}" > 
            <button class="btn">Editer</button>
        </a>
    {% endif %}
    <a href="{{ path('audios') }}" > 
        <button class="btn">Retour</button>
    </a>
    <br>

    <h3>Vous pouvez aussi aimer</h3>
    <table class="record_properties table table-striped">
        <tbody>
            {% for genre in entity.genres %}
                <tr>
                    <td>
                        <a href="{{ path('genres_show', { 'id': genre.id }) }}">{{ genre.name }}</a>
                    </td>
                    <td>
                        {% for i in 0..2 %}
                            {% set audio = random(genre.associatedAudios) %}
                            <a href="{{ path('audios_show', { 'id': audio.id }) }}">{{ audio.name }}</a>
                        {% endfor %}
                    </td>
                </tr>                
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

